body,
html {
    height: 100%;
    display: grid;
    overflow: hidden;
}

.content {
    margin: auto;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 48px;
    border-radius: 5px;
    -webkit-box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.2);
}

form input,
form label,
form button {
    display: block;
    margin-top: 8px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2 {
    font-weight: 100;
    font-family: sans-serif;
}

form input {
    margin-top: 2px !important;
    background-color: transparent;
    border: 1px solid rgba(128, 128, 255, 1);
    border-radius: 5px;
    height: 37px;
    padding: 8px;
    width: 302px;
}

form label {
    font-family: sans-serif;
}

form button {
    background-color: transparent;
    border: 1px solid rgba(128, 128, 255, 1);
    border-radius: 5px;
    min-height: 37px;
    transition: background-color 0.2s ease-in-out;
    margin-top: 16px !important;
    font-weight: 500;
    width: 320px;
}

form button:hover {
    background-color: rgba(128, 128, 255, 0.2);
    cursor: pointer;
}

body {
    background-image: url("/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}